body {
    padding: 50px 0px 0px 0px;
}

.mybar{
    background-color: rgb(18, 18, 78);

}

.customLink li{
    padding-left: 15px;
    color: white;
    

}


.customLink li a{
     
    color: white;

    
}



.loginBtn{
    
    padding: 0px 30px 0px 30px !important;
    margin-left: 15px;
    margin-top: 8px;
    
    color: rgb(18, 18, 78) !important;
    border: 0px;
    background-color: white;
    border-radius: 200px;
    
}

.btnForSm{
    float: right;
}

.nav-link:hover {
    color:rgb(202, 198, 241)

}
