.sec_2{
    height: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 200px;
}

.ourSrvcs{
    padding-top: 100px;
    color: rgb(18,18,78);
}

.serviceBox{
    background-color:white;
    margin-top: 150px;
    
    
   
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgba(18, 18, 78, 0.4);
    

}

.serviceBox:hover,
.serviceBox:active{
    background-color:white;
    margin-top: 150px;
   
    
   
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgba(200, 0, 0, 0.35);
    

}

.serviceName{
    font-weight: bold;
    font-size: 22px;
}
