.sec_6{
    height: auto;
    width: 100%;
    background-color: rgba(241, 245, 248,0);
    padding-top: 135px;
    padding-bottom: 100px;
    background-image: url(../img/Team\ Teresa.jpg);
    background-size: cover;
    
}
.process{
    color: rgb(18,18,78);
}



.howItWork{
    color: rgb(18,18,78);
    font-size: 24px;
    margin: 20px 0px 40px 40px;
}

.process{
    border: none;
    margin-left: 40px;
}
.process h4{
    margin-top: 15px;
}
.processDetails{
    margin: 10px 0px 0px 40px;
}