.headline {
  margin-left: 100px;
  margin-top: -60px;
  z-index: 1;
  color: white;
}
.routineImg {
  margin-top: 80px;
}

@media only screen and (max-width: 767px) {
  .banner {
    height: 150px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .routineImg {
    margin-top: 200px;
  }
}
